
<table class="table" style="width: 80%; margin: 2% 10% 0 10%;">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Latitud</th>
      <th scope="col">Longitud</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of CafeteriasList" >
    <tr>
      <th scope="row">{{item.ID}}</th>
      <td>{{item.Name}}</td>
      <td>{{item.Lat}}</td>
      <td>{{item.Long}}</td>
      <th class="buttom">Ver</th>
    </tr>
  
  </tbody>
</table>