


<section id="banner">
  <img src="../../../../assets/IMG/Olivia Wilson.png" class="img-fluid" alt="...">
</section>
<section id="img" style="margin-top: 3%;">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/IMG/descarga.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:red;">Cafe uno</h5>
            <p class="card-text" style="color:brown; text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem tempore adipisci, porro suscipit corrupti expedita dolorum eligendi cum impedit deserunt illum veniam natus maxime blanditiis, consequatur fuga harum incidunt perspiciatis!</p>
            <a href="#" class="btn btn-danger">Acceder</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/IMG/2.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cafe uno</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem tempore adipisci, porro suscipit corrupti expedita dolorum eligendi cum impedit deserunt illum veniam natus maxime blanditiis, consequatur fuga harum incidunt perspiciatis!</p>
            <a href="#" class="btn btn-danger">Acceder</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/IMG/OIP.jfif " class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cafe uno</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem tempore adipisci, porro suscipit corrupti expedita dolorum eligendi cum impedit deserunt illum veniam natus maxime blanditiis, consequatur fuga harum incidunt perspiciatis!</p>
            <a href="#" class="btn btn-danger">Acceder</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cartas" style="background-color: black;">
  
  <div class="container text-center">
    <div class="row" style="padding-bottom: 3%;padding-top: 3%;">
      <div style="width: 30%;; background-color: black;">
        <img src="../../../../assets/IMG/descarga.jpg" class="card-img-top" alt="...">

      </div>
      <!--COMENTARIOS-->
      <div class="col" >
        <div  style="width:90%; ">
          <div class="card-body" style="color: aliceblue;">
            <h5 class="card-title">Titulo 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores assumenda atque perspiciatis deserunt? Deleniti maxime, ad officia ducimus nostrum optio ipsam quaerat doloribus tempora ut voluptates obcaecati sed facere nesciunt.</p>
          </div>
        </div>  
      </div>
    </div>
    <div class="row">
      <div  style="width: 70%;">
        <div style="width:90%; ">
          <div class="card-body" style="color: aliceblue;">
            <h5 class="card-title">Titulo 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores assumenda atque perspiciatis deserunt? Deleniti maxime, ad officia ducimus nostrum optio ipsam quaerat doloribus tempora ut voluptates obcaecati sed facere nesciunt.</p>
          </div>
        </div>  
      </div>
      <div class="col" style="width: 95%;text-align: center; background-color: black;">
        <img src="../../../../assets/IMG/descarga.jpg" class="card-img-top" alt="...">

      </div>
      <!--COMENTARIOS-->
     
    </div>
  </div>
</section>


